* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(43, 45, 46);
  display: grid;
  grid-template-rows: 50px 50px 500px;
  transition: background-color 0.3s linear;
}

header {
  color: rgba(8, 255, 8, 0.952);
  font-size: 40px;
  font-family: "Shadows Into Light", cursive;
  margin-bottom: 20px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  transition: color 0.5s linear;
}

header:hover {
  color: rgb(29, 255, 29);
  font-size: 50px;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

nav {
  display: flex;
  color: rgba(8, 255, 8, 0.952);
  font-family: "Cairo", sans-serif;
  margin-right: 5px;
  transition: color 0.5s linear;
}

.btn {
  margin-left: 8px;
}

#description {
  width: 40vw;
  height: 60vh;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.829);
  border: 10px solid black;
  border-top: 10px solid rgb(0, 0, 0);
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 50px;
}

#array {
  color: black;
  font-weight: bold;
transform: translateX(15px);
  list-style:decimal;
  column-count: 3;
  -moz-column-count: 4;
  -webkit-column-count:4 ;
}

/* .elements
{
   display: inline-block;
   white-space:nowrap;
} */
#desW {
  background-color: rgb(41, 41, 41);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  color: white;
  font-family: "Cairo", sans-serif;
  height: 35px;
  text-align: center;
  /* display: flex;
      flex-direction: column;
      flex-wrap: wrap; */
}

#input {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.sizeSlider{
  display: flex;
}
.speedSlider{
  display: flex;
}

.bar {
  margin-top: 20px;
  padding: 0;
  position: absolute;
  border: 1px solid black;
  border-radius: 50px;
  background-color: rgb(0, 183, 255);
  transition: 0.2s all ease;
  text-align: center;
}

.barDes {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#bars {
  margin: 10px 20px;
}

/* .dropdown {
  right:40px;
}

#newArray{
  right:40px;
  
} */





.form-check {
  color: rgb(35, 248, 35);
  border: 3px solid rgba(3, 141, 26, 0.678);
  border-radius: 20px;
}

.form-check-input {
  transform: translateX(10px);
}


/*dark-light theme toggler*/
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: rgb(53, 199, 187);
  border-radius: 50px;
  border: 2px solid rgb(167, 165, 165);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 10px;

  margin: 10px;
  padding: 2px;
  position: relative;
  height: 22px;
  width: 45px;
  transform: scale(1.5);
  transition: background-color 0.3s linear, border 0.3s;
}

.checkbox:checked+.label {
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(114, 112, 112);
}
.label .ball {
  background-color: rgb(39, 35, 35);
  /* background-color: rgb(46, 41, 41); */
  border-radius: 50%;
  position: absolute;
  /* top: px; */
  /* left: 2px; */
  height: 15px;
  width: 15px;
  transform: translateX(0px);
  transition: transform 0.3s linear, background-color 0.3s linear;
}

.checkbox:checked+.label .ball {
  background-color: rgb(218, 209, 209);
  transform: translateX(22px);
}

.fa-moon {
  color: #f1c40f;
  margin: 1px;
  transform: translateX(-4px);
  scale: 0.7;
}

.fa-sun {
  color: #ff5e00;
  margin: 1px;
  scale: 0.7;
}
.ball{
  transform: translateY(2px);
}